.content-wrapper{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2{
    text-align: center;
}

form label{
    display: flex;
    width: 50%;
    margin: 0.4rem;
}

#submit{
    margin-top: 1rem;
    text-align: center;
}